* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

html {
    font-size: 16px;
}

.page  {
    width: 100rem; 
    margin: auto;
    
}

/*HEADER STYLES--------------------------------------------*/

header {
 width: 100rem;
 height: 46.5rem;
 background: url("./assets/images/bg-image.svg");
}
nav {
    margin:  0 0 9.625rem 0;
}

nav ul {
    display: flex;    
    width: 40%;
    height: 4.75rem;
    list-style: none;
    margin: auto;    
    align-items: center;
    font-family: 'Roboto',sans-serif;
    padding: 1.1875rem 0 0 0;
    
}
.about, .syllabus, .projects, .faq {
    height: 20px;
    line-height: 1.225rem;
}

.about {
    width: 2.375rem;
    padding: 0 0 0 1.4375rem;
    margin: 0 6.5625rem 0 0;
}

.syllabus {
    width: 3.3125rem;
    padding: 0 0 0 0.125rem;
    margin: 0 6.125rem 0 0;
}

.logo {
    margin: 0 6.5625rem 0 0;
    width: 2.75rem;
    height: 2.8125rem;
}
.logo img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects {
    width: 3.25rem;
    margin: 0 5.25rem 0 0;
}




nav ul a {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    color: #ffffff;
    opacity: 0.8;
}

nav ul a:hover {
    border-bottom: 1px solid rgba(255, 255, 255,0.8);
    opacity: 1;
}
.active {
    border-bottom: 1px solid rgba(255, 255, 255,0.8);
    opacity: 1; 
}

header h1 {
    width: 50rem;
    height: 4.6875rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3.8125rem;
    font-style: normal;
    font-weight: bold;
    margin: auto;
    margin-bottom: 1.375rem;
    color: #ffffff;
    text-align: center;
    line-height: 4.6875rem;
    letter-spacing: 0.3925rem;
    text-transform: uppercase;

}
header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    text-align: center;
    color: #ffffff;
    width: 31.5rem;
    height: 2.9375rem;
    margin: auto;
    margin-bottom: 1.98125rem;

}
.blueButton {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 184px;
    height: 46px;
    margin: 0 0 11.4375rem 44.1875rem;
    background-color: #00AFDB;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 16.41px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;    
}

.blueButton:hover {
    border: 1px solid rgba(255, 255, 255,0.8);
}

.socials {
    display: flex;
    width: 10.625rem;
    height: 1.25rem;
    margin: auto;
    justify-content: space-between;
}
.mail, .instagram {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
}
.facebook,  .telegram {

    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}

.socials div:hover {
    background-color: #00AFDB;
}

/*RAPRESENT BLOCK STYLES-------------------------*/

.rappresent {
    display: flex;
    align-items: center;
    width: 100%;
    height: 52.625rem;   
    
} 

.rappresent_textContent {
    width: 25.4375rem;
    height: 14.5625rem;    
    margin: -1.0625rem 15.5rem 0 16.75rem;
    
}

.rappresent h2 {
  width: 22.9375rem;
  height: 3.5625rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 1.25rem 0;
}

.rappresent p {
  width: 25.4375rem;
  height: 5rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0 0 1.8125rem 0;
  color: #4E4E4E;
}

.rappresent_textContent .blueButton {
    margin: 0;
}

.rappresent img {
    display: block;
    margin: -1.25rem 0 0 0;
}

#rapBlueButton:hover {
    border: 1px solid rgba(0, 0, 0,0.4);
    color:  #4E4E4E;
}